/*.searchListSection{*/
  /*height:100%;*/
/*}*/

.searchInputWrap{
  border-bottom:1px solid #d9d9d9;
}

.searchTextInput {
  width:calc(100% - 20px);
  padding:10px;
  border:none;
}

.searchTextInput::-webkit-input-placeholder {
  color:#d9d9d9;
}

.searchTextInput::-ms-input-placeholder {
  color:#d9d9d9;
}

.searchTextInput::-moz-placeholder {
  color:#d9d9d9;
}
/* 수정예정  */
.searchListWrap{
  position: relative;
  height:100%;
}

.beforeSearchList{
  text-align: center;
  padding-top:200px;
}

.searchList{
  overflow: auto;
  height:calc(100% - 38px);
}

.searchList li{
  position: relative;
  padding:10px;
  border-top:1px solid #d9d9d9;
}

.searchList li:first-child{
  border-top:none;
}

.searchList li .thum{
  cursor: pointer;
  position:absolute;
  top:10px;
  left:10px;
}

.searchList li .thum img{
  width:40px;
  height:40px;
  border-radius: 40px;
}

.searchList li .itemCont{
  width:400px;
  padding-left:55px;
}

.searchList li .itemCont .title{
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchList li .itemCont .info span{
  font-size:0.8rem;
  color:#999;
}

.searchList li .itemCont .info span.duration{
  margin-right:10px;
}

.searchList li .itemCont .info span.date{
  margin-right:10px;
}

.searchList li .itemCont .addBtn{
  cursor: pointer;
  position: absolute;
  top:15px;
  right:20px;
  padding:5px;
  border-radius: 5px;
  border:1px solid #d9d9d9;
  background-color: #fff;
}

.searchList li .itemCont .addBtn.add{
  color:#fff;
  border:1px solid #d9d9d9;
  background-color:#d9d9d9;
}

.searchListWrap .utilLayer{
  text-align: right;
  position:absolute;
  bottom:-11px;
  left:0;
  width:calc(100% - 20px);
  padding:10px;
  border-top:1px solid #d9d9d9;
  background-color: #fff;
  transition-property: bottom;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.searchListWrap .utilLayer.show{
  bottom:39px;
}

.searchListWrap .utilLayer .btnAddAlbum{
  cursor: pointer;
  padding:5px;
  border-radius: 5px;
  border:1px solid #d9d9d9;
  background-color: #fff;
}

@keyframes fadein{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes fadeout{
  from{opacity: 1;}
  to{opacity: 0;}
}

.popupVideoWrap{
  display: block;
  z-index:1000;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  animation: fadein 0.3s;
}

.popupVideoWrap .popup{
  position:absolute;
  left:50%;
  top:120px;
  margin-left:-320px;
}

.popupVideoWrap .popup .title{
  position: relative;
  padding:20px;
  color:#fff;
  background-color:#000;
}

.popupVideoWrap .popup .title .btnClose{
  cursor: pointer;
  position: absolute;
  top:20px;
  right: 20px;
  font-size:1.5rem;
  background: none;
  border:none;
}

.popupVideoWrap .popup .title .btnClose:hover{
  color:#fff;
}
