/*.playListArea {*/
    /*height: calc(100% - 1px);*/
    /*width: 100%;*/
    /*!*background-color: #7983ff;*!*/
    /*border-right: 1px solid lightgray;*/

/*}*/



.youtubePlayerArea {
    /*background-color: bisque;*/
    height: 55%;
    border-bottom: 1px solid lightgray;
}


.playListSectionArea {
    /*background-color: #ff5644;*/
    height: 45%;
    position: relative;
}



/*.playListSectionMenu{*/
/*width: 100%;*/
/*height: 10%;*/
/*!*background-color: #f5f5ff;*!*/
/*border-bottom: 1px solid lightgray;*/
/*border-top:  1px solid lightgray;*/
/*}*/


.playListSection{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.playListPartArea {
    width: 100%;
    height: 40px;
    /*background-color: #f5f5ff;*/
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}




.playListPartIconArea {
    /*background-color: #5f3aff;*/
    float: left;
    width: 7%;
    height:100%;
}

.playListPartTitleArea{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 86%;
    height: 100%;
    float: left;
    font-size: 11px;
    line-height: 4;
    /*background-color: #ff1feb;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    /*background-color: chartreuse;*/
}

.playListPartDurationArea {
    white-space: nowrap;
    overflow: hidden;
    width: 6%;
    height: 100%;
    float: left;
    font-size: 11px;
    text-align: center;
    line-height: 4;
    padding: 0 0.5% 0 0.5% ;
    /*background-color: #2590ff;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
}

.floater{
    float: left;
    height: 50%;
    margin-bottom: -15px;
}


.iconArea{
    width: 50%;
    height: 70%;
    /*background-color: #2aff5e;*/
    position: relative;
    clear: both;
    margin-left: 25%;

}


.playListPartIconArea img{
    width: 100%;
    height: 100%;
}


@keyframes eq {
    0% { height: 3px; }
    50% { height: 20px; }
    100% { height: 3px; }
}
.eq {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    display: flex;
    width: 100%;
    height: 100%;
    /*margin: 0 auto;*/
    /*justify-content: space-between;*/
    justify-content: space-around;
    align-items: flex-end;

}
.eq__bar {

    width: 4px;
    background: #f5f5ff;
    filter: drop-shadow(0 0 5px #f5f5ff);

}


.eq__bar:nth-child(1) {
    animation: eq .8s ease-in-out infinite 0s;
}
.eq__bar:nth-child(2) {
    animation: eq .8s ease-in-out infinite .2s;
}
.eq__bar:nth-child(3) {
    animation: eq .8s ease-in-out infinite .4s;
}


/*.eq__bar:nth-child(4) {*/
/*animation: eq .8s ease-in-out infinite .6s;*/
/*}*/


.playListPartArea:hover {
    background-color: #FFBFD7;
}

.playListPartDurationArea img {
    width: 100%;
    height: 100%;
}


.playListSectionMenu{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #d1d1d1;
    transition: height 0.5s;
    text-align: right;
}


.defaultButton{
    background-color: #e7e7e7; color: black;
}
.dangerButton{
    background-color: #f44336;
}