.album_block {
    height: 100%;
    width: 100%;
    /*background-color: #7983ff;*/
    border-right: 1px solid lightgray;

}

.video_block {
    /*background-color: bisque;*/
    height: 50%;
}


.album_list_block {
    /*background-color: #ff5644;*/
    height: 50%;
}
